<header class="card-header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('subscription') }}">
                <img alt="Brand" src="{{ asset('assets/img/metasite-logo.png') }}">
            </a>
            {% if app.user %}
                <a class="btn btn-outline-secondary" href="{{ path('logout') }}">
                    Logout
                </a>
                <a class="btn btn-outline-secondary" href="{{ path('admin') }}">
                    Manage subscribers
                </a>
                <span class="adm-greeting">Signed in as {{ app.user.username }}</span>
            {% else %}
                <a href="{{ path('login') }}">
                    <button type="button" class="btn btn-outline-secondary navbar-btn">Sign in</button>
                </a>
            {% endif %}
            </div>
        </div>
    </nav>
</header>