{% extends 'base.html.twig' %}

{% block title %}Edit subscriber{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="adm-title">Edit subscriber</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">

            {% include 'partials/errors.html.twig' %}

            <form action="{{ path('edit', {'id':subscriber.email}) }}" method="post">
                <div class="form-group">
                    <input type="hidden" name="token" value="{{ csrf_token('adm_edit') }}"/>
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" name="subscription[email]" required="required"
                           value="{{ subscriber.email }}">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="subscription[name]" required="required"
                           value="{{ subscriber.name }}">
                </div>
                    {% for category in subscriber.categories %}
                        <input type="hidden" name="subscription[categories][]" value="{{ category }}">
                    {% endfor %}
                <div class="form-group">
                    <div class="">
                        {% for category in subscriber.categories %}
                            <span class="border category-box">{{ category }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-secondary">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}
<div class="card-footer fixed-bottom text-left">
    <p>JAAR, {{ 'now'|date('Y') }}</p>
</div>
{% endblock %}