{% extends 'base.html.twig' %}

{% block title %}Edit subscriber{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="adm-title">Edit subscriber</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">

            {% include 'partials/errors.html.twig' %}

            {% form_theme form 'bootstrap_4_layout.html.twig' %}

            {{ form_start(form, {'action': path('edit', {'id':subscriber.email}), 'method': 'POST'}) }}
            {{ form_errors(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.name) }}
            <label>Selected categories</label>
            {{ form_widget(form.categories) }}
            {{ form_widget(form.Subscribe, {'label': 'Save'}) }}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
{% block footer %}
<div class="card-footer fixed-bottom text-left">
    <p>JAAR, {{ 'now'|date('Y') }}</p>
</div>
{% endblock %}